http-problem/http-problem-03.rnc

<![CDATA[
default namespace ns = "urn:ietf:rfc:XXXX"

start |= problem
problem =
  element problem {
    (element problemType { xsd:anyURI }
     & element title { xsd:string }
     & element detail { xsd:string }?
     & element httpStatus { xsd:positiveInteger }?
     & element problemInstance { xsd:anyURI }?),
    anyNsElement
  }
anyNsElement =
  (element ns:* { anyNsElement | text }
   | attribute * { text })*
]]>