http-problem/http-problem-03.rnc

default namespace ns = "urn:ietf:rfc:XXXX"

start |= problem
problem =
  element problem {
    (element problemType { xsd:anyURI }
     & element title { xsd:string }
     & element detail { xsd:string }?
     & element httpStatus { xsd:positiveInteger }?
     & element problemInstance { xsd:anyURI }?),
    element ns:* {
      text
      | element i { text }*
    }*
  }